#bbTimeList.bbTimeList.container
  i.bber-logo.fa-fw.fa.fa-flash(onclick="location='/essay/'",title="哔哔",style="font-size: 1.2rem;")
  #bbtalk.bbTimeList-swiper.swiper-container
      #bber-talk.swiper-wrapper(onclick="location='/essay/'")
  i.bber-gotobb.fa-fw.fa.fa-arrow-circle-right(onclick="location='/essay/'",title="查看全文",style="font-size: 1.2rem;")
script(defer src=url_for(theme.CDN.swiper_js))
script(defer src='/js/showbb_in_index.js')